---
import Layout from '@/layouts/Layout.astro'
import Photo from '@/components/Photo.astro'
import { getPhotoById } from '@/data/photo'
import Photo1 from './_1.jpg'

const photo = getPhotoById(1)
if (!photo) {
  return new Response(null, {
    status: 404,
    statusText: 'Not found',
  })
}
---

<Layout title=`${photo.title} | あざらし あるばむ`>
  <h2>たぶん大井町</h2>
  <p>トリキバーガーを買って交差点で信号待ちしてた時</p>
  <Photo img={Photo1} alt="たけかご" />
</Layout>

<style></style>
