---
import Layout from '@/layouts/Layout.astro'
import Photo from '@/components/Photo.astro'
import { getPhotoById } from '@/data/photo'
import TilteArea from '@/components/photo/TilteArea.astro'
import Row from '@/components/Row.astro'
import Photo1 from './_1.jpg'

const photo = getPhotoById(1)
if (!photo) {
  return new Response(null, {
    status: 404,
    statusText: 'Not found',
  })
}
---

<Layout title={photo.title} ogImage={photo.eyecatch}>
  <TilteArea photo={photo} />
  <p>多分トリキバーガーを買って交差点で信号待ちしてた時</p>
  <Row>
    <Photo
      img={Photo1}
      alt="夕暮れに赤くそびえたつ建設機械"
      text="大きな機械が見えると撮りたくなっちゃう"
    />
  </Row>
</Layout>

<style lang="scss">
  p {
    margin: 1rem 0;
  }
</style>
