---
import { Image } from 'astro:assets'
import RssImage from '@/img/rss.svg'
import { HistroyList } from '@/data/history'
import { getDate } from '@/utils/dateHelper'
import SectionTitle from '@/components/SectionTitle.astro'
---

<div>
  <div class="titleArea">
    <SectionTitle title="更新履歴" />
    <a href="/feed.xml" target="_blank" aria-label="RSS">
      <Image class="rss" src={RssImage} alt="rss" width={16} />
    </a>
  </div>
  <ul>
    {
      HistroyList.map((item) => (
        <li>
          <a href={`/history/${item.slug}`}>
            <span>{getDate(item.pubDate)}</span>
            <span>{item.title}</span>
          </a>
        </li>
      ))
    }
  </ul>
</div>

<style lang="scss">
  .titleArea {
    display: flex;
    align-items: flex-end;
    column-gap: 12px;
    a {
      border: none;
      margin-bottom: 12px;
    }
  }
</style>
