---
import { Image } from 'astro:assets'
import RssImage from '@/img/rss.svg'
import ListHistory from '@/components/ListHistory.astro'
import SectionTitle from '@/components/SectionTitle.astro'
---

<section class="HistorySection">
  <div class="titleArea">
    <SectionTitle title="更新履歴" />
    <a href="/feed.xml" target="_blank" aria-label="RSS">
      <Image class="rss" src={RssImage} alt="rss" width={16} />
    </a>
  </div>
  <ListHistory num={5} />
</section>

<style lang="scss">
  section {
    margin: 2rem 0;
  }
  .titleArea {
    display: flex;
    align-items: center;
    column-gap: 12px;
    a {
      border: none;
    }
    margin-bottom: 0.25rem;
  }
  li {
    margin-bottom: 0.5rem;
  }
</style>
