---
import Layout from '@/layouts/Layout.astro'
---

<Layout title="このサイトについて">
  <h2>このサイトについて</h2>
  <p>まなさすが過去の写真とかをアップしてるサイトです。</p>
  <h3>SNS</h3>
  <ul>
    <li>
      <a href="https://fedibird.com/@thetalemon/" target="_blank"
        >fedibird（本拠地）</a
      >
    </li>
    <li>
      <a href="https://bsky.app/profile/manasas.dev" target="_blank">Bluesky</a>
    </li>
  </ul>
</Layout>

<style lang="scss">
  h2,
  h3 {
    margin: 2rem 0 0.5rem 0;
  }
  p {
    margin: 0;
    font-size: 1.1rem;
  }
  ul {
    font-size: 1rem;

    li {
      margin-bottom: 1rem;
    }
  }
</style>
