---
import Layout from '@/layouts/Layout.astro'
import CardList from '@/components/CardList.astro'
import History from '@/components/feature/History.astro'
import { PhotoList } from '@/data/photo'
---

<Layout>
  <section>
    <p>
      <a href="/about">このサイトについて</a>
    </p>
  </section>
  <History />
  <section class="photolist">
    <CardList list={PhotoList} />
  </section>
</Layout>

<style lang="scss">
  section {
    margin: 2rem 0;
  }
  .photolist {
    margin-top: 4rem;
  }
</style>
