---
import Layout from '@/layouts/Layout.astro'
import Head from '@/components/Head.astro'
import Photo from '@/components/Photo.astro'
import Photo1 from './_Photo1.jpg'
---

<Layout title="2021/12/25 @ 栃木 | あざらし あるばむ">
  <main>
    <Head />
    <h2>2021/12/25 @ 栃木</h2>
    <Photo img={Photo1} alt="たけかご" />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
