---
const isTop = Astro.url.pathname === '/'
---

{
  isTop ? (
    <h1>あざらしあるばむ</h1>
  ) : (
    <h1>
      <a href="/">あざらしあるばむ</a>
    </h1>
  )
}

<style lang="scss">
  h1 {
    color: white;
    margin: 0.5rem 0 3rem 0;
  }
  a {
    text-decoration: none;
    color: white;
  }
</style>
