---
import { Image } from 'astro:assets'

interface Props {
  img: ImageMetadata
  alt: string
  text?: string
  width?: number
  size?: number
}

const { img, alt, text, size } = Astro.props
const width = size ?? 450
---

<div class="card">
  <Image class="eyecatch" src={img} alt={alt} width={width} />
  <p class="text">
    {text}
  </p>
</div>

<style lang="scss">
  .card {
    list-style: none;
    padding: 20px 12px;
    width: fit-content;
    background: white;
    border-radius: 4px;
    height: fit-content;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
    .text {
      margin-top: 1rem;
      text-align: center;
      font-size: 1rem;
      font-weight: normal;
      line-height: 1rem;
      min-height: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #3c3c3c;
    }
  }
</style>
