---
import Layout from '@/layouts/Layout.astro'
import CardList from '@/components/CardList.astro'
import { TagList } from '@/data/tags'
import { PhotoList } from '@/data/photo'
export const getStaticPaths = async () => {
  return Object.keys(TagList).map((tag) => ({
    params: { slug: tag },
    props: { tag },
  }))
}

const { tag } = Astro.props
const list = PhotoList.filter((photo) => photo.tagList.includes(TagList[tag]))
const tagName = TagList[tag]
---

<Layout title={tagName}>
  <h2>タグ #{tagName}</h2>
  <CardList list={list} />
</Layout>

<style lang="scss">
  h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: normal;
    margin: 2rem 0 1rem 0;
    // border-bottom: #ccc 1px solid;
    padding: 0 0 0.5rem 0.5rem;
  }
</style>
